{% extends 'app/base.html' %}

{% block content %}
<div class="d-flex flex-column gap-3 align-items-center">
	<h1 align="center">Каналы на SkillThread: Пространство для обмена знаниями</h1>

	<div class="card custom-card">
		<div class="card-body fs-5">
			На платформе SkillThread пользователи могут создавать каналы, где делятся своими знаниями и опытом по различным темам. Эти каналы служат уникальными местами для обучения, где каждый может найти материалы, которые помогут развиваться в выбранной области. Независимо от того, ищете ли вы советы по карьере, практическим навыкам или теоретическим концепциям, на SkillThread всегда найдется канал, который отвечает вашим интересам.
		</div>
	</div>

	<div class="card custom-card">
		<div class="card-body fs-5">
			Каждый канал на SkillThread организован таким образом, чтобы участники могли свободно делиться полезной информацией, задавать вопросы и обмениваться опытом. Взаимодействие в этих пространствах способствует не только получению знаний, но и созданию сообщества, где каждый может внести свой вклад. Каналы помогают людям развивать навыки, расширять кругозор и учиться у других.
			</div>
	</div>
</div>
{% endblock %}
