{% if page_obj and page_obj.paginator.num_pages > 1 %}
	<nav class="mt-3">
		<ul class="pagination justify-content-center">
			{% if page_obj.has_previous %}
			<li class="page-item">
			{% else %}
			<li class="page-item disabled">
			{% endif %}
				<a
					class="page-link"
					href="?page=1"
				>
					<<
				</a>
			</li>
			{% if page_obj.has_previous %}
			<li class="page-item">
			{% else %}
			<li class="page-item disabled">
			{% endif %}
				<a
					class="page-link"
					href="?page={{ channel_list.previous_page_number }}"
				>
					<
				</a>
			</li>

			{% for p in page_obj.paginator.page_range %}
				{% if p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
					{% if page_obj.number == p %}
						<li class="page-item active">
					{% else %}
						<li class="page-item">
					{% endif %}
						<a
							class="page-link"
							href="?page={{ p }}"
						>
							{{ p }}
						</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
			<li class="page-item">
				{% else %}
			<li class="page-item disabled">
				{% endif %}
				<a
					class="page-link"
					href="?page={{ channels.next_page_number }}"
				>
					>
				</a>
			</li>
			{% if page_obj.has_next %}
			<li class="page-item">
				{% else %}
			<li class="page-item disabled">
				{% endif %}
				<a
					class="page-link"
					href="?page={{ page_obj.paginator.num_pages }}"
				>
					>>
				</a>
			</li>
		</ul>
	</nav>
{% endif %}
