{% extends 'app/base.html' %}

{% load static %}
{% load channels_tags %}

{% block content %}
<h1>SkillThread</h1>
<section class="mb-5">
	<h2 align="center" class="mb-5">Добро пожаловать в мир знаний</h2>
	<div class="row">
		<img src="{% static 'app/img/undraw_next-tasks_y3rm.svg' %}" alt="" class="col-md-4">
		<div class="col-md-8 fs-4">
			На нашем сайте собрались люди, которые не боятся делиться знаниями и учиться друг у друга. У нас есть уникальные каналы, где эксперты в своих областях раскрывают тонкости и делятся ценным опытом. Вдохновляйтесь, учитесь, расширяйте горизонты и становитесь частью сообщества, где каждый может найти что-то полезное.
		</div>
	</div>
</section>
<section class="mb-5">
	<h2 align="center" class="mb-5">Для авторов каналов</h2>
	<div class="row">
		<div class="col-md-8 fs-4 mb-5">
			Ты обладаешь знаниями, которые могут помочь другим? Создай свой канал и делись своими идеями, секретами и опытом с участниками. Стань частью нашей команды авторов и вдохновляй других на развитие. Наши инструменты позволяют легко и эффективно взаимодействовать с твоей аудиторией и обмениваться полезной информацией. Делай свой вклад в развитие сообщества!
		</div>
		<img src="{% static 'app/img/undraw_learning_2jue.svg' %}" alt="" class="col-md-4">
	</div>
</section>
<section class="mb-5">
	<h2 align="center" class="mb-5">Для участников каналов</h2>
	<div class="row">
		<img src="{% static 'app/img/undraw_online-test_20lm.svg' %}" alt="" class="col-md-4">
		<div class="col-md-8 fs-4">
			Хочешь расширить свои знания, научиться новым навыкам или просто быть в курсе последних трендов? Наши каналы — это место, где ты найдешь информацию от самых опытных экспертов. Подключайся, задавай вопросы, изучай материалы и совершенствуй свои навыки. Все, что тебе нужно для роста — в одном месте!
		</div>
	</div>
</section>
<section class="mb-5">
	<h2 align="center" class="mb-5">Присоединяйся к нам и начни свой путь!</h2>
	<div class="fs-4">
		Зарегистрируйся прямо сейчас, чтобы открыть доступ ко всем каналам знаний. Учись у лучших, делись своим опытом и становись частью активного сообщества. Войдя, ты получишь возможность общаться с экспертами и участниками. Не упусти шанс развиваться и расти вместе с нами!
	</div>
	{% if not user.is_authenticated %}
	<div class="d-flex justify-content-center mt-5">
		<a href="{% url 'users:register' %}" class="btn btn-primary fs-4 ">Шагнуть в мир знаний</a>
	</div>
	{% endif %}
</section>
{% endblock %}
